@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Six+Caps&display=swap');
* {
    margin: 0;
    padding: 0;
    font-size: 1em;
    box-sizing: border-box;
}

:root {
    --bck-r: rgba(95, 2, 2, 1);
    --bck-b: white;
    --fontStyle: 'Playfair Display', serif;
    --bxshdw: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    --fontDescription: "Montserrat", sans-serif;
}

body {
    width: 100svw;
    height: 100vh;
    background-color: var(--bck-r);
    font-family: var(--fontStyle);
    overflow-x: hidden;
    color: #111111;
}

#root {
    width: 100%;
    height: 100%;
}

.princTitle {
    font-size: 130%;
}

header {
    background-color: var(--bck-r);
    width: 80%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--fontStyle);
}

header>a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.separeHeader {
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#separeHeaderFImg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.separeHeader>a,
.separeHeader>p {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin: 2px;
}

.separeHeader img {
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#landingDiv {
    background-color: var(--bck-r);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85%;
}

#landingDiv>div:nth-child(1) {
    width: 30%;
    height: 90%;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: end;
    font-family: var(--fontStyle);
    text-transform: uppercase;
    font-size: 480%;
}

#landingDiv>div:nth-child(1)>h1,
#landingDiv>div:nth-child(1)>h2 {
    color: var(--bck-b);
    font-weight: 500;
}

#landingDiv>div:nth-child(2) {
    width: 40%;
    margin-left: 15%;
    height: 90%;
    font-family: var(--fontStyle);
    text-transform: uppercase;
    font-size: 480%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#landingDiv>div:nth-child(2)>img {
    border-radius: 5px;
}

#big-img-landing,
#small-img-landing {
    width: 50%;
}

#big-img-landing {
    position: relative;
    width: 60%;
    bottom: 10px;
}

#small-img-landing {
    position: absolute;
    bottom: 0px;
    right: 10px;
    width: 40%;
}

.titleTemplate {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 150%;
    text-transform: uppercase;
}

#bestMenu {
    background-color: var(--bck-b);
    height: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

#bestMenu>.titleTemplate {
    justify-content: center;
    min-height: 25%;
}

.titleTemplate h2 {
    font-size: 1.8em;
}

#bestMenu>div:nth-child(2) {
    width: 100%;
    height: 55%;
    display: flex;
    align-items: end;
    justify-content: space-evenly;
}

#bestMenu>div:nth-child(2)>.card {
    background-color: white;
    width: 30%;
    height: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.4s;
    border-radius: 6px;
    box-shadow: var(--bxshdw);
}

#bestMenu>div:nth-child(2)>.card:hover {
    transform: translateY(-10px);
}

.card-img {
    height: 80%;
    border-radius: 6px;
}

#bestMenu>div:nth-child(2)>.card>div {
    background-color: white;
    box-shadow: var(--bxshdw);
    border-radius: 6px;
    padding: 2%;
    width: 40%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#bestMenu>div:nth-child(2)>.card>div>p {
    font-size: medium;
    font-family: var(--fontDescription);
    text-align: start;
}

.card>div>h3 {
    font-size: 350%;
    font-weight: 200;
    text-transform: uppercase;
}

#aboutUs {
    margin-top: 5%;
    background-color: var(--bck-b);
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#aboutUs>div:nth-child(1) {
    height: 40%;
}

#aboutUs>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60%;
    width: 90%;
}

#aboutUs>div:nth-child(2)>p {
    font-size: 120%;
    line-height: 3em;
    text-align: center;
    font-family: var(--fontDescription);
}

footer {
    margin-top: 3%;
    height: 5%;
    background-color: var(--bck-b);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.separeFooter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: 900;
    text-transform: uppercase;
}

footer>div:nth-child(1) {
    margin-left: 2%
}

footer>div:nth-child(2) {
    margin-right: 2%
}

.separeFooter img {
    height: 2em;
}

.decoForTitle {
    min-width: 5%;
    max-width: 8%;
}

#allRestaurants {
    background-color: var(--bck-b);
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

#allRestaurants>div:nth-child(2) {
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.oneRestaurantVitrine,
.oneRestaurantVitrinePhone {
    background-color: white;
    box-shadow: var(--bxshdw);
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    transition: all 0.4s;
    border-radius: 6px;
}

.oneRestaurantVitrine:hover,
.oneRestaurantVitrinePhone:hover {
    transform: translateY(-10px);
}

.oneRestaurantVitrine h2,
.oneRestaurantVitrinePhone h2 {
    font-size: 2rem;
}

.vitrineImg {
    height: 60%;
    border-radius: 4px;
}

.btnVitrine {
    background-color: var(--bck-r);
    width: 45%;
    height: 8%;
    border-radius: 5px;
    box-shadow: var(--bxshdw);
    color: var(--bck-b);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
}

.btnVitrine:hover {
    background-color: black;
}

#galerie {
    margin-top: 5%;
    background-color: var(--bck-b);
    height: 130%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.galleryBox {
    width: 70%;
    height: 70%;
    display: flex;
    align-items: center;
}

#menuSec {
    height: fit-content;
    width: 100%;
    background-color: var(--bck-b);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#menuSec>.titleTemplate {
    height: 11em;
}

.mapSec {
    background-color: var(--bck-b);
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 4%;
}

#timeTable {
    width: 42%;
    height: 90%;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 10%;
}

#timeTable>div {
    width: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 20px;
}

#timeTable>div>div {
    font-size: 120%;
    display: flex;
    align-items: start;
    width: 50%;
    justify-content: space-between;
}

#timeTable>div>div>span {
    opacity: 0.7;
    font-family: var(--fontDescription);
}

#timeTable>h2 {
    font-size: 180%;
}

#mapDiv {
    width: 45%;
    height: 90%;
    display: flex;
    align-items: end;
    flex-direction: column;
    justify-content: space-between;
}

#mapDiv>div {
    width: 97%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--fontDescription);
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 70%;
}

#mapPra {
    width: 100%;
    height: 80%;
}

.btnMap {
    height: 50%;
    width: 25%;
}

.ForIpad {
    display: none;
}

.ForIphone {
    display: none;
}

#landImg_logo {
    display: none;
}

.oneRestaurantVitrinePhone {
    display: none;
}

#menuContainer {
    width: 70%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.menuCard {
    display: flex;
    align-items: start;
    justify-content: space-between;
    height: 6em;
    margin-top: 5em;
    margin-bottom: 2em;
    width: 40%;
    transition: all 0.4s;
}

.c1 {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-around;
}

.c1>h3 {
    width: 100%;
    font-size: 120%;
}

.c1>h3>span {
    z-index: 2;
    position: relative;
    padding-right: 5px;
    background-color: var(--bck-b);
}

.c1>h3:after {
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background-image: radial-gradient(circle closest-side, #bbbbbb 99%, transparent 1%);
    background-position: bottom;
    background-size: 6px 3px;
    background-repeat: repeat-x;
    margin-top: -6px;
    margin-bottom: 0;
    position: relative;
    z-index: 0;
}

.c2 {
    width: 10%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 120%;
}

#hdTablet,
#hdMobile,
#hdMobileLanding {
    display: none;
}

.nav-open {
    display: flex !important;
    flex-direction: row;
    transition: all 0.8s;
}

.nav-closed {
    display: none !important;
    transition: all 0.8s;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: none;
    opacity: 0;
    transition: all 0.8s;
}

.overlay.active {
    display: block;
    opacity: 1;
    overflow: hidden;
    transition: all 0.8s;
    /* Empêche le défilement de la page */
}

body.overlay-active {
    overflow: hidden;
    /* Empêche le défilement du corps */
}

#menuForBurger>a {
    color: white;
    font-size: 200%;
}