@media screen and (max-width: 821px) {
    * {
        margin: 0;
        padding: 0;
        font-size: 1em;
        box-sizing: border-box;
        font-family: "Roboto", sans-serif;
    }

    body {
        font-size: 1em;
    }

    .ForPc {
        display: none;
    }

    .ForIpad {
        display: none;
    }

    .ForIphone {
        display: flex;
        height: 0%;
    }

    .menuCard {
        justify-content: start;
        background-color: transparent;
        border: none;
    }

    .menu-card-text {
        width: 100%;
    }

    .menu-card-img {
        display: none;
    }

    #menuForBurger>a {
        text-decoration: none;
        font-size: 150%;
    }

    .hamburger-react {
        display: flex !important;
        transition: all 0.8s;
    }

    section {
        margin-top: 4em !important;
    }

    #landingDiv {
        flex-direction: column;
        align-items: center;
        height: 75%;
        justify-content: space-evenly;
        margin-top: 0 !important;
    }

    #landingDiv>div:nth-child(1) {
        display: flex;
        align-items: center;
        width: 80%;
        height: 35%;
        font-size: 250%;
    }

    #landingDiv>div>img {
        position: static;
    }

    #landingDiv>div:nth-child(2) {
        display: none;
    }

    #landImg_logo {
        display: flex;
        width: 70%;
    }

    #bestMenu {
        display: none;
    }

    #aboutUs {
        height: 110%;
        justify-content: space-around;
    }

    #aboutUs>.titleTemplate {
        height: 10% !important;
    }

    .aboutUsParagraph {
        height: 80% !important;
        overflow-y: auto;
        font-size: 70%;
        justify-content: center;
    }

    #menuSec {
        margin-top: 15%;
        height: fit-content;
        justify-content: space-between;
    }

    #menuSec>.titleTemplate {
        height: 25% !important;
        margin-bottom: 8% !important;
        margin-top: 8% !important;
    }

    #menuContainer {
        width: 100%;
        height: 60%;
        flex-direction: column;
        justify-content: space-around;
    }


    #menuContainer {
        width: 70%;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;

    }

    .menuCard {
        height: 6em;
        width: 100%;
    }


    .c1 {
        width: 80%;
        height: 100%;
        display: flex;
        align-items: start;
        flex-direction: column;
        justify-content: space-around;
    }
    .c1>p{
        font-size: 70%;
    }
    .c1>h3 {
        width: 100%;
        font-size: 110%;
    }

    .c1>h3>span {
        z-index: 10;
        position: relative;
        padding-right: 5px;
        background-color: var(--bck-b);

    }

    .c2 {
        font-size: 90%;
        width: 20%;
    }

    .mapSec>.titleTemplate {
        height: 2%;
        font-size: 110%;
    }

    .mapSec>.container {
        flex-direction: column;
        width: 80%;
    }

    .mapSec>.container>#timeTable {
        width: 100%;
        font-size: small;
        margin-bottom: 2em;
    }

    .mapSec>.container>#timeTable>div>div {
        width: 100%;
    }

    .mapSec>.container>#mapDiv {
        width: 100%;
    }

    .btnMap {
        width: 80%;
        height: 70%;
    }

    .hamburger-react {
        display: none;
        position: absolute !important;
        z-index: 18;
        top: 8%;
        right: 10%;
        width: 10% !important;
        height: 7% !important;
        justify-content: space-evenly !important;
    }

    #allRestaurants>div:nth-child(2) {
        flex-wrap: wrap;
    }

    .oneRestaurantVitrine {
        width: 90%;
    }

    #allRestaurants>.titleTemplate {
        text-align: center;
        font-size: large;
    }

    .oneRestaurantVitrinePhone {
        display: flex;
    }

    #allRestaurants>div:nth-child(2) {
        display: none;
    }

    #allRestaurants>div:nth-child(3) {
        height: 80%;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
    }

    .oneRestaurantVitrinePhone {

        width: 80%;
        height: 30%;
        display: flex;
        flex-direction: row;
    }

    .oneRestaurantVitrinePhone>div {
        width: 30%;
        height: 90%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
    }

    .oneRestaurantVitrinePhone>div>h2 {
        font-size: 170%;
    }

    .oneRestaurantVitrinePhone>div>a {
        height: 20%;
        width: 100%;
        font-size: small;
    }

    .oneRestaurantVitrinePhone>div>img {
        width: 70%;
    }

    #galerie {
        height: 80%;
    }

}