:root {
    --bck-r: rgba(95, 2, 2, 1);
    --bck-b: white;
    --fontStyle: 'Playfair Display', serif;
    --bxshdw: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    --fontDescription: "Montserrat", sans-serif;
}

@media screen and (max-width: 430px) {
    * {
        margin: 0;
        padding: 0;
        font-size: 1em;
        box-sizing: border-box;
        overflow-x: hidden;
    }

    .resaux {
        width: 100%;
    }

    .oneResaux {
        width: 50%;
    }

    footer>div>p {
        font-size: small;
    }

    body {
        font-size: 1em;
        overflow-x: hidden;
    }

    .ForPc {
        display: none;
    }

    .ForIpad {
        display: none;
    }

    .ForIphone {
        display: flex;
        height: 100%;
    }

    .menuCard {
        justify-content: start;
        background-color: transparent;
        border: none;
        width: 100%;
    }

    .menu-card-text {
        width: 100%;
    }

    .menu-card-img {
        display: none;
    }

    #menuForBurger>a {
        text-decoration: none;
        font-size: 150%;
    }

    .hamburger-react {
        display: flex !important;
        transition: all 0.8s;
    }

    #landingDiv {
        flex-direction: column;
        align-items: center;
        height: 75%;
        justify-content: space-evenly;
        margin-top: 0 !important;
    }

    #landingDiv>div:nth-child(1) {
        display: flex;
        align-items: center;
        width: 80%;
        height: 35%;
        font-size: 250%;
    }

    #landingDiv>div>img {
        position: static;
    }

    #landingDiv>div:nth-child(2) {
        display: none;
    }

    #landImg_logo {
        display: flex;
        width: 70%;
    }

    #bestMenu {
        display: flex;
        height: fit-content;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    #bestMenu>div:nth-child(1) {
        height: 5em;
    }


    #bestMenu>div:nth-child(2) {
        flex-direction: column;
        align-items: center;
        height: fit-content;
        gap: 5em;
        margin-top: 2em;
        margin-bottom: 2em;
    }

    #bestMenu .card {
        width: 80% !important;
        height: 15em !important;
    }

    #bestMenu .card>img {
        height: 80%;
    }

    #bestMenu .card h3 {
        font-size: 150%;
    }

    #bestMenu .card p {
        font-size: 80% !important;
    }

    #aboutUs {
        height: 110%;
        justify-content: space-around;
        overflow-y: visible !important;
    }

    #aboutUs>.titleTemplate {
        height: 10% !important;
        font-size: large;
    }

    .aboutUsParagraph {
        height: 80% !important;
        overflow-y: auto;
        font-size: 70%;
        justify-content: center;
    }

    #menuSec {
        height: fit-content;
        justify-content: space-between;
    }

    #menuSec>.titleTemplate {
        height: 25% !important;
        margin-bottom: 8% !important;
        margin-top: 8% !important;
    }

    #menuContainer {
        width: 80%;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .menuCard {
        height: 6em;
        width: 100%;
    }

    .menuCard>div {
        display: flex;
        align-items: start;
        justify-content: end;
    }

    .c1 {
        width: 80%;
        height: 100%;
        display: flex;
        align-items: start;
        flex-direction: column;
        justify-content: space-around;
    }

    .c1>p {
        font-size: 80%;
        text-wrap: wrap;
    }

    .c1>h3 {
        width: 100%;
        font-size: 140%;
    }

    .c1>h3>span {
        z-index: 3;
        position: relative;
        padding-right: 5px;
        background-color: var(--bck-b);
    }

    .c2 {
        font-size: 120%;
        width: 20%;
        text-wrap: wrap;
    }

    .mapSec {
        height: 120%;
    }

    .mapSec>.titleTemplate {
        height: 5%;
        font-size: 110%;
    }

    .mapSec>.container {
        flex-direction: column;
        width: 80%;
    }

    .mapSec>.container>#timeTable {
        width: 100%;
        font-size: small;
        margin-bottom: 2em;
    }

    .mapSec>.container>#timeTable>div>div {
        width: 100%;
    }

    .mapSec>.container>#mapDiv {
        width: 100%;
        margin-top: 2em;
        flex-direction: column-reverse;
    }

    .mapSec>.container>#mapDiv>div {
        margin-bottom: 2em;
    }

    .btnMap {
        width: 80%;
        height: 70%;
    }

    #galerie {
        height: 80%;
    }

    .galleryBox {
        width: 90%;
    }

    #hdMobile {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 7%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 12;
        background-color: var(--bck-b);
        padding: 0 2%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease-in-out;
    }

    #hdMobile>a>img {
        height: 90%;
    }

    #separeHeaderFImg {
        justify-content: start;
    }

    #hdMobileLanding {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 7%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 12;
        padding: 0 2%;
        transition: all 0.3s ease-in-out;
        background-color: transparent;
    }

    section {
        margin-top: 20%;
    }

    #menuForBurger {
        position: fixed;
        width: 100vw !important;
        height: 100vh;
        left: 0;
        top: -200% !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: end !important;
        align-items: start !important;
        padding-left: 8%;
        z-index: 15 !important;
        transition: top 1s ease !important;
        background-color: var(--bck-r) !important;
    }

    .hamburger-react {
        z-index: 18;
        width: 3em !important;
        height: 100% !important;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.8s;
    }

    #hdTablet {
        display: none;
    }

    #menuForBurger.nav-open {
        top: 0 !important;
    }

    .hamburger-react>div>div:nth-child(2) {
        background-color: white !important;
    }

    .hamburger-react>div>div>div {
        background-color: white !important;
    }

    .containerForMenu {
        width: 100%;
        height: 30%;
        display: flex;
        align-items: start;
        flex-direction: column;
        justify-content: space-between;
        font-size: 150%;
    }

    .containerForMenu>a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
    }

    .containerForMenuLogo {
        width: 100%;
        height: 60%;
        display: flex;
        align-items: end;
        flex-direction: column;
        justify-content: end;
        padding: 5%;
        padding-bottom: 8em;
    }

    .containerForMenuLogo>h1,
    .containerForMenuLogo>h2 {
        color: var(--bck-b);
        font-weight: 900;
        font-family: 'Playfair Display', serif;
        font-size: 250%;
        text-transform: uppercase;
    }

    .oneRestaurantVitrine {
        display: none;
    }

    .vitrineResto {
        width: 100%;
        height: 100%;
        overflow-y: hidden;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
    }

    #allRestaurants {
        height: 200%;
        overflow-x: hidden;
    }

    #allRestaurants .titleTemplate {
        height: 10%;
        font-size: 120%;
    }

    #allRestaurants>div:nth-child(2) {
        display: none;
        height: 0%;
        overflow-x: hidden;
    }

    .oneRestaurantVitrinePhone {
        display: flex;
        width: 95%;
        height: 45%;
        align-items: center;
        border-radius: 0;
        box-shadow: none;
        overflow-x: hidden;
    }

    .oneRestaurantVitrinePhone>div {
        border-radius: 0;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        overflow-x: hidden;
    }

    .oneRestaurantVitrinePhone>div>div {
        width: 80%;
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        overflow-x: hidden;
    }

    .oneRestaurantVitrinePhone>div>div>div:nth-child(2) {
        width: 80%;
        height: 40%;
        overflow-x: hidden;
    }

    .oneRestaurantVitrinePhone>div>div>div:nth-child(2)>a {
        background-color: transparent;
        border: 1px solid black;
        color: black;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }

    .oneRestaurantVitrinePhone>div>img {
        border-radius: 0;
        overflow-x: hidden;
    }

    *:not(.exclude-gallery) {
        overflow-x: initial;
    }

    #gallery {
        background-color: initial;
    }

    section {
        overflow-x: hidden !important;
    }


    .menuDiv>div {
        width: 90%;
    }

    .b1>h3 {
        font-size: 120%;
        margin-bottom: 2em;
    }

    .b2 {
        left: 65%;
        top: 0.8em;
    }

    .menuCardSpecial {
        width: 100%;
        height: fit-content;
    }


    .TitleMenu>div>p {
        font-size: 1em;
        margin-top: 1.4em;
        font-family: var(--fontDescription);
    }

}

@media screen and (max-width: 380px) {
    #landingDiv>div:nth-child(1) {
        font-size: 200%;
    }

    .mapSec {
        height: 150%;
    }

    .aboutUsParagraph>p {
        font-size: small !important;
    }

    .menuDiv>div {
        width: 90%;
    }

    .b1 {
        height: 12em;
        justify-content: center;
    }

    .b1>h3 {
        font-size: 100%;
    }

    .b1>p {
        font-size: 80%;
        margin-top: 1em;
    }

    .b2 {
        left: 65%;
        top: 0.4em;
        width: 60px;
        height: 60px;
    }

    .menuCardSpecial {
        width: 150%;
    }

    .titleTemplate>div>h2 {
        font-size: 140%;
    }

    .resaux {
        width: 80%;
        flex-direction: row !important;
        height: 15%;
    }

    .oneResaux {
        width: 80%;
    }
}

@media screen and (min-width: 380px) and (max-width: 430px) {
    .b1 {
        height: 12em;
        justify-content: space-around;
    }

    .b1>h3 {
        font-size: 100%;
    }

    .b1>p {
        font-size: 80%;
        margin-bottom: 4em;
    }

    .b2 {
        left: 65%;
        top: 0.4em;
        width: 60px;
        height: 60px;
    }

    .menuCardSpecial {
        width: 100%;
        height: 18em;
    }
}